[Unit]
Description=Create zram0 device
Documentation=man:zram-generator(8) man:zram-generator.conf(5)
After=dev-zram0.device
DefaultDependencies=false

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/system-generators/zram-generator --setup-device 'zram0'
ExecStop=/usr/lib/systemd/system-generators/zram-generator --reset-device 'zram0'
User=root

[Install]
WantedBy=multi-user.target
