[Unit]
Description=Preload frequently used data into RAM - largely obsolete, Linux does by default
After=basic.target local-fs.target systemd-udev-settle.service
Wants=systemd-udev-settle.service
StartLimitBurst=5
StartLimitIntervalSec=300

[Service]
Type=forking
ExecStart=/usr/bin/preload -n 19
User=root

# CommonSnippet - Daemons
IOSchedulingClass=2
IOSchedulingPriority=7
Nice=19
Restart=on-failure
RestrictRealtime=false
RestartSec=60

[Install]
WantedBy=multi-user.target
